@* <div class="display-card"> *@
@*     <div class="display-card-header"> *@
@*         <img src="key_off_icon.svg" alt="Icône de clé" class="vault-key-icon"/> *@
@*         <div class="display-info"> *@
@*             <p><strong>Ancienne entrée : </strong></p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@