.password-strength-container {
    margin-top: .5rem;
    height: 5rem;
}



.strength-bar {
    height: 6px;
    border-radius: 4px;
    transition: width .3s ease, background-color .3s ease;
    width: 100%;
    background-color: #444;
}

.strength-bar.weak {
    background-color: red;
    width: 25%;
}

.strength-bar.medium {
    background-color: orange;
    width: 50%;
}

.strength-bar.strong {
    background-color: yellowgreen;
    width: 75%;
}

.strength-bar.very-strong {
    background-color: green;
    width: 100%;
}
