

<!-- Bloc affichage erreur -->

<div class="no-vault-banner">
    <div class="no-vault-content">
        <h3>Aucun coffre trouvé pour votre recherche.</h3>
    </div>
    <div class="no-vault-lines">
        <div class="line orange"></div>
        <div class="line pink"></div>
    </div>
</div>