



.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #111;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 15px rgba(255,105,180,0.3);
}

.modal-content h2 {
    margin-top: 0;
    color: orange;
}

.form-group {
    margin-bottom: 1rem;
    
}


.form-group label {
    display: block;
    margin-bottom: 0.3rem;
    color: pink;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 1rem;
}

.modal-actions button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.modal-actions button:first-child {
    background: linear-gradient(to right, orange, pink);
    color: #fff;
    opacity: 0.6; /* inactif */
    cursor: not-allowed;
}

.modal-actions button:last-child {
    background-color: #333;
    color: #fff;
}


#ce-notes {
    width: 100%;
}