@page "/"

<PageTitle>Home</PageTitle>

<div class="home">

    <section class="upper_part">
        <div class="create_vault_zone">
            <button class="create-btn">Créer un coffre</button>
        </div>
        
        <div class="search_bar_zone">
            <div class="search-container">
                <input type="text" placeholder="Rechercher..." class="search-input" />
                <button class="search-btn">🔍</button>
                <button class="clear-btn">✖</button>
            </div>
        </div>
    </section>
    
    <section class="display_vault_zone">
        
    </section>
    
</div>

<style>
   
</style>
