@page "/VaultPage/{id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject Microsoft.Identity.Abstractions.IDownstreamApi DownstreamApi
@using System.Text.Json
@using front_gestionnaire_mot_de_passe.Components.Displayer
@using front_gestionnaire_mot_de_passe.Components.CreateVaultEntryModal
@using front_gestionnaire_mot_de_passe.Models
@rendermode InteractiveServer

<PageTitle>Détails du coffre</PageTitle>


@* @if (VaultData is null) *@
@* { *@
@*     <p>Il n'y a aucun mot de passe d'enregistrer dans ce coffre...</p> *@
@* } *@
else
{
    <section class="menu_vault">
        <div class="menu_vault_top">
            <button type="button" class="menu_button_create" @onclick="ShowModal">+</button>            
            <CreateVaultEntryModal IsVisible="@_isModalVisible"
                                   VaultId="@id"
                                   OnClose="HideModal"
                                    />
            
            <button class="menu_button_share">Partager coffre-fort</button>
        </div>

        <h2 class="menu_title">Votre coffre fort </h2>

        <div class="menu_vault_bottom">
            <button class="menu_button_remove_user">Exclure utilisateur</button>
            <button class="menu_button_delete_vault">Supprimer coffre-fort</button>
        </div>
    </section>
    
    <h3 class="vault_title">Liste des mots de passe</h3>
    
    <section class="display_entries_zone">
        @if (_entries is null)
        {
            <p>Chargement…</p>
        }
        else if (_entries.Count == 0)
        {
            <p>Aucune entrée.</p>
        }
        else
        {
            @foreach (var e in _entries)
            {
                <Displayer Entry="e" VaultId="@id" />
            }
        }
    </section>
}

@code {
    [Parameter] public int id { get; set; }
    public Vault? VaultData { get; set; }
    private bool _isModalVisible = false;
    private List<VaultEntry>? _entries;


    private void ShowModal()
    {
        _isModalVisible = true;
        Console.WriteLine("ShowModal called, IsVisible=true");
    }
    private void HideModal() => _isModalVisible = false;
    
    protected override async Task OnInitializedAsync()
    {
        /*var json = await Http.GetStringAsync("data/vaults.json");
        var vaults = JsonSerializer.Deserialize<List<Vault>>(json, new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true
        });

        VaultData = vaults?.FirstOrDefault(v => v.Id == id);
        */
        
        _entries = await DownstreamApi.GetForUserAsync<List<VaultEntry>>(
            "DownstreamApi",
            o => o.RelativePath = $"/Entry/VaultId?vaultId={id}"
        ) ?? new();
    
        StateHasChanged();
    }
}