@page "/VaultPage/{id:int}"
@using api_chiffrement_csharp.EF.Tables
@inject HttpClient Http
@inject NavigationManager Navigation
@using System.Text.Json
@using front_gestionnaire_mot_de_passe.Components.Displayer

<PageTitle>Détails du coffre</PageTitle>


@if (VaultData is null)
{
    <p>Chargement du coffre...</p>
}
else
{
    <!--<div class="vault-details">
        <p><strong>Nom :</strong> @VaultData.Name</p>
        <p><strong>Créé le :</strong> @VaultData.CreatedAt.ToString("dd/MM/yyyy HH:mm")</p>
        <p><strong>Modifié le :</strong> @(VaultData.UpdatedAt?.ToString("dd/MM/yyyy HH:mm") ?? "Jamais")</p>
    </div> -->

    <section class="menu_vault">
        <div class="menu_vault_top">
            <button class="menu_button_create">+</button>
            <button class="menu_button_share">Partager coffre-fort</button>
        </div>

        <h2 class="menu_title">Votre coffre fort : Florent</h2>

        <div class="menu_vault_bottom">
            <button class="menu_button_remove_user">Exclure utilisateur</button>
            <button class="menu_button_delete_vault">Supprimer coffre-fort</button>
        </div>
    </section>
    
    <h3 class="vault_title">Liste des mots de passe</h3>
    
    <section class="display_entries_zone">
        
        <Displayer/>
        <Displayer/>
        <Displayer/>
        <Displayer/>

    </section>
}

@code {
    [Parameter] public int id { get; set; }
    public Vault? VaultData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var json = await Http.GetStringAsync("data/vaults.json");
        var vaults = JsonSerializer.Deserialize<List<Vault>>(json, new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true
        });

        VaultData = vaults?.FirstOrDefault(v => v.Id == id);
    }
}