@inherits LayoutComponentBase

<div class="page">
   
    <!-- Bannière du MainLayout -->
    <header class="banner">
        <div class="banner-content px-4">
            <h1 >Bienvenue sur note site d'hébergement de mot de passe : Vault de Moore</h1>
            <p>Le mot de passe dont on ne doit pas prononcer le nom !!</p>
    
        </div>
        <div class="banner-lines">
            <span class="line orange"></span>
            <span class="line pink"></span>
        </div>
    </header>
    
    <!-- Body du MainLayout -->
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>

