@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Identity.Abstractions
@using Microsoft.Identity.Web
@inject NavigationManager Navigation
@inject IDownstreamApi DownstreamApi
@inherits LayoutComponentBase
@page "/LoginDisplay"

<AuthorizeView Context="context">
    <Authorized>
        <div class="logout-form">
            <p class="logout-form-text">Bonjour, @context.User.Identity?.Name</p>
            @* <button class="nav-link btn btn-link" @onclick="@(() => Inspect(context))">Inspect</button> *@
            <form action="authentication/logout" class="form" method="post" >
                <AntiforgeryToken/>
                <!-- <input type="hidden" name="ReturnUrl" value="@(Navigation.Uri)" />  -->
                <button type="submit" title="Se déconnecter" class="logout-icon-btn">
                    <img src="./icon_logout.png" alt="icone de déconnexion"/>
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask == null) return;

        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            try
            {
                await DownstreamApi.CallApiForUserAsync("DownstreamApi", options =>
                {
                    options.RelativePath = "Users/RegisterUser";
                    options.HttpMethod = HttpMethod.Post.Method;
                });
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur lors de l'appel à RegisterUser: {ex.Message}");
            }
        }
    }
}