@using api_chiffrement_csharp.EF.Tables

<div class="display-card">
    <div class="display-card-header">
        <img src="cle_icon.jpg" alt="Icône de clé" class="vault-key-icon"/>
        <div class="display-info">
            <p><strong>Intitulé : @Entry.NomCypher?.Cypher </strong> </p> 
        </div>
    </div>
    <div class="display-actions">
        <button class="consult-btn" >Consulter</button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public VaultEntry Entry { get; set; } = default!;
    [Parameter]
    public int VaultId { get; set; }

    private string TitleText =>
        // Ici, on n’a que des blobs chiffrés — on met un placeholder lisible ou un identifiant.
        // Mettre un déclencheurs JS au clic pour déchiffrement.
        $"Entrée #{Entry?.Id}";

    private Task OnConsult()
    {
        // TODO: Appeler du JS pour déchiffrer Entry.* avec currentVault.key
        return Task.CompletedTask;
    }
}