
<!-- Composant permettant l'affichage des éléments mappés (entries, user...) -->
<div class="display-card">
    
    <div class="display-card-header">
        <img src="cle_icon.jpg" alt="Icône de clé" class="vault-key-icon"/>
        <div class="display-info">
            <p><strong>Intitulé : </strong> </p> 
        </div>
    </div>
    
    <div class="display-actions">
        <button class="consult-btn" >Consulter</button>
    </div>
    
</div>