@using api_chiffrement_csharp.EF.Tables


<div class="vault-card">
    
    <div class="vault-card-header">
        <img src="cle_icon.jpg" alt="Icône de clé" class="vault-key-icon"/>

        <h3>@VaultData?.Name</h3>
    </div>

    <div class="vault-info">
        <p><strong>Créé le :</strong> @(VaultData != null ? VaultData.CreatedAt.ToString("dd/MM/yyyy HH:mm") : "")</p>

        <p><strong>Par :</strong> "Utilisateur inconnu")</p>
        <p><strong>Modifié le :</strong> @(VaultData?.UpdatedAt.HasValue == true ? VaultData.UpdatedAt.Value.ToString("dd/MM/yyyy HH:mm") : "Jamais")</p>

    </div>

    <div class="vault-actions">
        <button class="consult-btn" @onclick="ConsultVault">Consulter</button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Vault VaultData { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    // Redirection vers la page vault{id}
    private void ConsultVault()
    {
        Navigation.NavigateTo($"/VaultPage/{VaultData.Id}");
    }
}